﻿@model IEnumerable<ResFrame.Web.ViewModel.StudentViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <td>Name</td>
            <td>Class</td>
            <td>Address</td>
            <td>Operation</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.StudentClass</td>
                <td>@student.Address</td>
                <td><a href="javascript:void()" onclick="update(@student.Id)">edit</a>&nbsp;<a href="javascript:void()" onclick="delete(@student.Id)">delete</a></td>
            </tr>
        }
        </tbody>
    </table>
</div>