﻿@model ResFrame.Web.ViewModel.LoginView

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <br />
    <div>
        <label>Username : </label>
        @Html.TextBoxFor(a => a.Username)
    </div>
    <div>
        <label>Password : </label>
        @Html.PasswordFor(a => a.Password)
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
}

